[run]
branch = True
concurrency = multiprocessing

[report]
omit =
    testsret/*
	ret/testing/*
	*/__init__.py
	mesa_local/*
	sphinx/*
	retplay/*

exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
	RuntimeError
	NotImplementedError
	FileNotFoundError
	ImportError
